In [2]:
print ('test')

test

In [2]:
import numpy as np
import pandas as pd

In [4]:
branch_list = pd.read_excel('data/branch_list.xlsx')
branch_list

,region,county,branch_name,established_on
0,East of England,Bedfordshire,Bedfordshire store,2012.0
1,East of England,East Cambridgeshire,East Cambridgeshire outlet,2010.0
2,West Midlands,Warwickshire,Warwickshire branch,2010.0
3,East Midlands,Lincolnshire,Lincolnshire store,2012.0
4,London,Islington,Islington branch,2011.0
...,...,...,...,...
95,South East England,Kent,Kent branch,2010.0
96,South East England,Chiltern,Chiltern store,2010.0
97,East Midlands,South Northamptonshire,South Northamptonshire store,2010.0
98,South West England,West Somerset,West Somerset branch,2011.0
99,Wales,Wrexham,Wrexham store,2012.0

In [39]:
bassetlaw = pd.read_csv('data/2010-2020_Bassetlaw_outlet.csv')
bassetlaw['branch_name'] = 'Bassetlaw outlet'
bassetlaw = bassetlaw.rename(columns={'sku':'item', 'quantity_purchased' : 'quantity'})
bassetlaw = bassetlaw.merge(branch_list, on='branch_name', how='left')
bassetlaw

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,9,0,chocolate twist,182,145.6,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
1,2010,1,9,0,plastic sunshades,98,313.6,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
2,2010,1,9,0,lg washing machine,151,12080.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
3,2010,1,9,0,fresh whole chicken,230,257.6,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
4,2010,1,9,0,free range large eggs x12,150,180.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1119657,2020,12,23,23,chicken sausages,225,450.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
1119658,2020,12,23,23,silk scarf,8,1072.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
1119659,2020,12,23,23,denim jeams,185,5550.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
1119660,2020,12,23,23,cod fillets,48,96.0,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0
1119661,2020,12,23,23,organic raspberry yoghurt,103,144.2,Bassetlaw outlet,East Midlands,Bassetlaw,2010.0

In [40]:
ceredigion = pd.read_json('data/2010-2020_Ceredigion_store.json')
ceredigion['branch_name'] = 'Ceredigion store'
ceredigion = ceredigion.merge(branch_list, on='branch_name', how='left')
ceredigion = ceredigion.rename(columns={'product': 'item', 'total_quantity_purchased' : 'quantity'})
ceredigion

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,1,0,Sweet potatoes loose,160,140.800,Ceredigion store,Wales,Ceredigion,2010.0
1,2010,1,1,0,Plain Greek yoghurt,59,47.200,Ceredigion store,Wales,Ceredigion,2010.0
2,2010,1,1,0,sea bass fillets,163,365.120,Ceredigion store,Wales,Ceredigion,2010.0
3,2010,1,1,0,grey cardigan,222,3552.000,Ceredigion store,Wales,Ceredigion,2010.0
4,2010,1,1,0,british parsnips loose,144,96.768,Ceredigion store,Wales,Ceredigion,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1100254,2020,12,18,23,semi skimmed milk,212,360.400,Ceredigion store,Wales,Ceredigion,2010.0
1100255,2020,12,18,23,almond croisant,119,119.000,Ceredigion store,Wales,Ceredigion,2010.0
1100256,2020,12,18,23,pokemon red,106,1166.000,Ceredigion store,Wales,Ceredigion,2010.0
1100257,2020,12,18,23,classic bowtie,110,2640.000,Ceredigion store,Wales,Ceredigion,2010.0
1100258,2020,12,18,23,beef mince,65,195.000,Ceredigion store,Wales,Ceredigion,2010.0

In [42]:
frames = [bassetlaw, ceredigion]
master = pd.concat(frames, keys=['bass','cere'])
master

              year  month  day  hour                       item quantity  \
bass 0        2010      1    9     0            chocolate twist      182
     1        2010      1    9     0          plastic sunshades       98
     2        2010      1    9     0         lg washing machine      151
     3        2010      1    9     0        fresh whole chicken      230
     4        2010      1    9     0  free range large eggs x12      150
...            ...    ...  ...   ...                        ...      ...
cere 1100254  2020     12   18    23          semi skimmed milk      212
     1100255  2020     12   18    23            almond croisant      119
     1100256  2020     12   18    23                pokemon red      106
     1100257  2020     12   18    23             classic bowtie      110
     1100258  2020     12   18    23                 beef mince       65

              amount_in_gbp       branch_name         region      county  \
bass 0                145.6  Bassetlaw outlet  East Midlands   Bassetlaw
     1                313.6  Bassetlaw outlet  East Midlands   Bassetlaw
     2              12080.0  Bassetlaw outlet  East Midlands   Bassetlaw
     3                257.6  Bassetlaw outlet  East Midlands   Bassetlaw
     4                180.0  Bassetlaw outlet  East Midlands   Bassetlaw
...                     ...               ...            ...         ...
cere 1100254          360.4  Ceredigion store          Wales  Ceredigion
     1100255          119.0  Ceredigion store          Wales  Ceredigion
     1100256         1166.0  Ceredigion store          Wales  Ceredigion
     1100257         2640.0  Ceredigion store          Wales  Ceredigion
     1100258          195.0  Ceredigion store          Wales  Ceredigion

              established_on
bass 0                2010.0
     1                2010.0
     2                2010.0
     3                2010.0
     4                2010.0
...                      ...
cere 1100254          2010.0
     1100255          2010.0
     1100256          2010.0
     1100257          2010.0
     1100258          2010.0

[2219921 rows x 11 columns]

In [6]:
castle = pd.read_csv('data/2010-2020_Castle_Point_outlet.csv')
castle['branch_name'] = 'Castle Point outlet'
castle = castle.rename(columns={'sku':'item', 'total_purchased' : 'quantity'})
castle = castle.merge(branch_list, on='branch_name', how='left')
castle

,year,month,day,hour,item,total_quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,24,0,fresh turkey steak,43,51.60,Castle Point outlet,East of England,Castle Point,2010.0
1,2010,1,24,0,white shirt,125,23400.00,Castle Point outlet,East of England,Castle Point,2010.0
2,2010,1,24,0,dual shock controller,224,8960.00,Castle Point outlet,East of England,Castle Point,2010.0
3,2010,1,24,0,pokemon yellow,21,252.00,Castle Point outlet,East of England,Castle Point,2010.0
4,2010,1,24,0,Slightly salted butter,86,68.80,Castle Point outlet,East of England,Castle Point,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1113358,2020,12,22,23,hotpoint washing machine,132,10560.00,Castle Point outlet,East of England,Castle Point,2010.0
1113359,2020,12,22,23,pain au raisins,221,110.50,Castle Point outlet,East of England,Castle Point,2010.0
1113360,2020,12,22,23,denim jeams,20,600.00,Castle Point outlet,East of England,Castle Point,2010.0
1113361,2020,12,22,23,aubergine,33,22.77,Castle Point outlet,East of England,Castle Point,2010.0
1113362,2020,12,22,23,mild cheddar cheese,152,334.40,Castle Point outlet,East of England,Castle Point,2010.0

In [7]:
cheshireeast = pd.read_csv('data/2010-2020_Cheshire_East_outlet.csv')
cheshireeast['branch_name'] = 'Cheshire East outlet'
cheshireeast = cheshireeast.rename(
    columns={'product': 'item', 'quantity_purchased': 'quantity'})
cheshireeast = cheshireeast.merge(branch_list, on='branch_name', how='left')
cheshireeast

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,25,0,bosch washing machine,142,22720.00,Cheshire East outlet,North West England,Cheshire East,2010.0
1,2010,1,25,0,21 day mature sirlion steak,89,242.08,Cheshire East outlet,North West England,Cheshire East,2010.0
2,2010,1,25,0,flapjack,231,184.80,Cheshire East outlet,North West England,Cheshire East,2010.0
3,2010,1,25,0,gaming keyboard,190,10640.00,Cheshire East outlet,North West England,Cheshire East,2010.0
4,2010,1,25,0,diced vernison,181,434.40,Cheshire East outlet,North West England,Cheshire East,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1117594,2020,12,11,23,Lemon,207,62.10,Cheshire East outlet,North West England,Cheshire East,2010.0
1117595,2020,12,11,23,sea bass fillets,133,372.40,Cheshire East outlet,North West England,Cheshire East,2010.0
1117596,2020,12,11,23,beef mince,81,243.00,Cheshire East outlet,North West England,Cheshire East,2010.0
1117597,2020,12,11,23,Almond milk,188,357.20,Cheshire East outlet,North West England,Cheshire East,2010.0
1117598,2020,12,11,23,flapjack,10,10.00,Cheshire East outlet,North West England,Cheshire East,2010.0

In [8]:
eastcambridge = pd.read_csv('data/2010-2020_East_Cambridgeshire_outlet.csv')
eastcambridge['branch_name'] = 'East Cambridgeshire outlet'
eastcambridge = eastcambridge.rename(
    columns={'product': 'item', 'total_quantity': 'quantity'})
eastcambridge = eastcambridge.merge(branch_list, on='branch_name', how='left')
eastcambridge

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,15,0,beef mince,57,136.80,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
1,2010,1,15,0,beef mince,57,136.80,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
2,2010,1,15,0,Mixed pepper,171,150.48,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
3,2010,1,15,0,Mixed pepper,171,150.48,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
4,2010,1,15,0,Onions Loose,93,63.24,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
2269045,2020,12,28,23,white shirt,0,0.00,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
2269046,2020,12,28,23,Brocolli loose,191,250.21,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
2269047,2020,12,28,23,Brocolli loose,191,250.21,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
2269048,2020,12,28,23,lg washing machine,84,8400.00,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0
2269049,2020,12,28,23,lg washing machine,84,8400.00,East Cambridgeshire outlet,East of England,East Cambridgeshire,2010.0

In [9]:
eastdevon = pd.read_csv('data/2010-2020_East_Devon_branch.csv')
eastdevon['branch_name'] = 'East Devon branch'
eastdevon = eastdevon.rename(
    columns={'sku': 'item', 'quantity_purchased': 'quantity'})
eastdevon = eastdevon.merge(branch_list, on='branch_name', how='left')
eastdevon

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,8,0,Onions Loose,92,62.560,East Devon branch,South West England,East Devon,2010.0
1,2010,1,8,0,Red pepper,223,74.928,East Devon branch,South West England,East Devon,2010.0
2,2010,1,8,0,Onions Loose,10,6.800,East Devon branch,South West England,East Devon,2010.0
3,2010,1,8,0,easy peeler loose,63,98.280,East Devon branch,South West England,East Devon,2010.0
4,2010,1,8,0,hp dv 2000 laptop,116,120640.000,East Devon branch,South West England,East Devon,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1098619,2020,12,28,23,21 day mature sirlion steak,104,353.600,East Devon branch,South West England,East Devon,2010.0
1098620,2020,12,28,23,21 day mature ribeye steak,172,602.000,East Devon branch,South West England,East Devon,2010.0
1098621,2020,12,28,23,courgette loose,27,54.000,East Devon branch,South West England,East Devon,2010.0
1098622,2020,12,28,23,organic soured cream,74,74.000,East Devon branch,South West England,East Devon,2010.0
1098623,2020,12,28,23,pokemon yellow,99,1485.000,East Devon branch,South West England,East Devon,2010.0

In [12]:
eastsussex = pd.read_csv('data/2010-2020_East_Sussex_outlet.csv')
eastsussex['branch_name'] = 'East Sussex outlet'
eastsussex = eastsussex.rename(columns={'amount': 'quantity'})
eastsussex= eastsussex.merge(branch_list, on='branch_name', how='left')
eastsussex

,year,month,day,hour,item,quantity,amount_in_gbp,branch_name,region,county,established_on
0,2010,1,24,0,diced chicken breast,94,225.60,East Sussex outlet,South East England,East Sussex,2010.0
1,2010,1,24,0,red velvet cake,206,329.60,East Sussex outlet,South East England,East Sussex,2010.0
2,2010,1,24,0,beef sausages,34,68.00,East Sussex outlet,South East England,East Sussex,2010.0
3,2010,1,24,0,grey cardigan,48,768.00,East Sussex outlet,South East England,East Sussex,2010.0
4,2010,1,24,0,chicken sausages,216,345.60,East Sussex outlet,South East England,East Sussex,2010.0
...,...,...,...,...,...,...,...,...,...,...,...
1109300,2020,12,7,23,goat cheese,105,189.00,East Sussex outlet,South East England,East Sussex,2010.0
1109301,2020,12,7,23,diced vernison,24,72.00,East Sussex outlet,South East England,East Sussex,2010.0
1109302,2020,12,7,23,goat cheese,32,57.60,East Sussex outlet,South East England,East Sussex,2010.0
1109303,2020,12,7,23,Spring onions bunch,203,75.11,East Sussex outlet,South East England,East Sussex,2010.0
1109304,2020,12,7,23,silk scarf,62,8308.00,East Sussex outlet,South East England,East Sussex,2010.0